{% extends "base.html" %}

{% block content %}
    <h1>erlaubte Hilfsmittel</h1>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <h3>Modul</h3>
      <p>Studiengang:</p>
      {% for subfield in form.course %}
      <tr>
	<td>{{ subfield }}</td>
	<td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
      <p>
	{{ form.module.label }}:
	{{ form.module(size=60) }}
      	{% for error in form.module.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <h3>Prüfung</h3>
      <p>
	{{ form.number.label }}:
	{{ form.number(size=10) }}
      	{% for error in form.number.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
	{{ form.date.label }}  ("YYYY-MM-DD"):
	{{ form.date(size=10) }}
      	{% for error in form.date.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
	{{ form.aids.label }}: (nicht benötigte Zeilen bitte einfach leer lassen)
	<ul>
	{% for line in form.aids %}
	  <li>{{ line(size=100) }}</li>
	{% endfor %}
	</ul>
      	{% for error in form.aids.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      
      <h3>Formular erzeugen</h3>
      <input type="submit">
    </form>
{% endblock %}
    
