<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Erklärung zur Modulprüfung</title>
    {% endif %}
    <meta name="author" content="(Fakultät für Angewandte Naturwissenschaften TH Köln)"/>
    <meta name="description" content="non cheating declarations for exams">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.th-koeln.de/favicon-32x32.png">
    <style>
      body {
	  font-family: Arial, Helvetica, sans-serif
      }
      
      input {
	  margin-left: 20px;
      }

      #date {
	  margin-left: 96px;
      }
    </style>
  </head>
  <body>
    <div>
      <div style="display: inline-block;">
	<img alt="Logo der TH Köln" 
             width="100px"
             src="https://www.th-koeln.de/img/logo.svg">
      </div>
      <div style="display: inline-block; vertical-align: top; margin-left: 50px">
	&nbsp;<em>Fakultät für Angewandte Naturwissenschaften</em>
      </div>
    </div>
    <hr>
    <div>Erklärung zur Modulprüfung:
      <a href="{{ url_for('aids') }}">Formular</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <hr>
    <address>
      last edited: 2021-01-31, 
      <a href="mailto:richard.hirsch@th-koeln.de">Richard Hirsch</a>
    </address>
    <hr>
  </body>
</html>
