{% extends "base.html" %}

{% block content %}
  <h1>Hello, {{ user }}</h1>
  {% if aids %}
    <h2>erlaubte Hilfsmittel</h2>
  {% else %}
    Es sind keine Hilfsmittel erlaubt.
  {% endif %}
  {% for aid in aids %}
    <div><p>{{ aid }}</p></div>
  {% endfor %}
{% endblock %}
